<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <button mat-raised-button class="btn btn-success btn-round">
        Create a new monster
      </button>
    </div>

    <h4>Personal Monsters</h4>
    <div class="row">
      <ng-container>
      </ng-container>
      <br>
    </div>


    <h4>SRD Beastiary</h4>
    <br>
    <div class="row">
      <ng-container *ngFor="let m of data">
        <div class="col-md-3" (click)="openDialog(m)">
          <div class="card card-profile">
            <div class="card-avatar">
              <a>
                <img class="img" [src]="m.img_url" />
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">{{m.meta}}</h6>
              <h4 class="card-title">{{m.name}}</h4>
              <h6 class="card-category text-gray"><i class="fas fa-khanda"> : </i>{{m.Challenge}}</h6>

              <a mat-raised-button class="btn btn-success btn-round">Add to Campaign</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>