<div class="main-content">
  <div class="container-fluid">
    <div class="row"></div>

    <h4>Personal Monsters</h4>

    <ng-container *ngIf="!creatures">
      <a mat-raised-button class="btn btn-success" [routerLink]="['/world/beastiary/create']">
        Create a new monster
      </a>
      <hr />
      <p>Currently you haven't created any enemies, try creating one.</p>
    </ng-container>

    <ng-container *ngIf="creatures">
      <a mat-raised-button class="btn btn-success" [routerLink]="['/world/beastiary/create']">
        Create a new monster
      </a>
      <hr />
      <br />
      <div class="row">
        <ng-container *ngFor="let c of creatures">
          <div class="col-sm-3">
            <div class="card card-profile">
              <div class="card-avatar">
                <a>
                  <img class="img" [src]="c.photoURL" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">
                  {{ c.creatureSize + " " + c.creatureRace + " | " + c.creatureAlignment }}</h6>
                <h4 class="card-title">{{ c.creatureName }}</h4>
                <h6 class="card-category text-gray">
                  <i class="fas fa-khanda"> : </i>{{ c.challengeRating }}
                </h6>
                <ng-container *ngIf="c.creatureDescription.length > 255 else fine">
                  <div style="height: 120px;">
                    <small>{{c.creatureDescription | slice: 0:255}} ...</small>
                  </div>
                </ng-container>

                <ng-template #fine>
                  <div style="height: 120px;">
                    <small>{{c.creatureDescription}}</small>
                  </div>
                </ng-template>


                <a mat-raised-button class="btn btn-success">Add to Encounter</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </ng-container>


    <br /><br />

    <h4>SRD Beastiary</h4>
    <br />
    <div class="row">
      <ng-container *ngFor="let m of data">
        <div class="col-md-2" (click)="openDialog(m)">
          <div class="card card-profile">
            <!-- <div class="card-avatar">
              <a>
                <img class="img" [src]="m.img_url" />
              </a>
            </div> -->
            <div class="card-body">
              <h6 class="card-category text-gray">{{ m.meta }}</h6>
              <h4 class="card-title">{{ m.name }}</h4>
              <h6 class="card-category text-gray">
                <i class="fas fa-khanda"> : </i>{{ m.Challenge }}
              </h6>

              <a mat-raised-button class="btn btn-success btn-round">Add to Campaign</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
