<div class="main-content">
  <div class="container-fluid">
    <div class="row">


      <!-- Colloum 1 -->
      <div class="col-md-4">
        <!-- Encounter Distances -->
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-ruler-horizontal fa-lg"></i>
            </div>
            <h4 class="card-title ">Encounter Distances</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary" style="text-align: center;">
                  <tr>
                    <th *ngFor="let cell of encounterDist.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr *ngFor="let row of encounterDist.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Encounter Distances End -->

        <!-- Damage Severity and Levels -->
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-car-crash fa-lg"></i>
            </div>
            <h4 class="card-title ">Damage Severity and Levels</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary">
                  <tr>
                    <th *ngFor="let cell of dmgSev.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of dmgSev.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td class="text-danger">{{row[3]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Damage Severity and Levels End -->

        <div class="row">

          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-icon card-header-success">
                <div class="card-icon">
                  <i class="fas fa-podcast fa-lg"></i>
                </div>
                <h4 class="card-title ">Audible Distance</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary" style="text-align: center;">
                      <tr>
                        <th *ngFor="let cell of audible.headerRow">{{ cell }}</th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center;">
                      <tr *ngFor="let row of audible.dataRows">
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-icon card-header-success">
                <div class="card-icon">
                  <i class="fas fa-binoculars fa-lg"></i>
                </div>
                <h4 class="card-title ">Visibility</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary" style="text-align: center;">
                      <tr>
                        <th *ngFor="let cell of visibility.headerRow">{{ cell }}</th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center;">
                      <tr *ngFor="let row of visibility.dataRows">
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Colloum 1 End -->


      <!-- Adventuring -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-hiking fa-lg"></i>
            </div>
            <h4 class="card-title ">Adventuring</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary" style="text-align: center;">
                  <tr>
                    <th *ngFor="let cell of adventuring.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr *ngFor="let row of adventuring.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Adventuring End -->



      <!-- Conditions -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="material-icons">visibility</i>
            </div>
            <h4 class="card-title ">Conditions</h4>
          </div>
          <div class="card-body">
            <div id="accordion" role="tablist">
              <ng-container *ngFor="let c of data">

                <div class="card-collapse">
                  <div class="card-header" role="tab" id="{{c.index}}">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" href="#collapse{{c.index}}" aria-expanded="true"
                        aria-controls="collapse" class="collapsed">
                        {{c.name}}
                        <i class="material-icons">keyboard_arrow_down</i>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse{{c.index}}" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                    data-parent="#accordion" style="">
                    <div class="card-body">
                      {{c.desc}}
                    </div>
                  </div>
                </div>

              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- Conditions End -->


    </div>

    <div class="row">

      <div class="col-md-3">

        <!-- Basic Armor -->
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-shield-alt fa-lg"></i>
            </div>
            <h4 class="card-title ">Basic Armor</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary" style="text-align: center;">
                  <tr>
                    <th *ngFor="let cell of basicArmor.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of basicArmor.dataRows" style="text-align: center;">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                  </tr>
                </tbody>
              </table>
              <p>² Disadvantage on Dexterity (Stealth) checks </p>
            </div>
          </div>
        </div>
        <!-- Basic Armor End -->

        <!-- Exhaustion -->
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-bolt fa-lg"></i>
            </div>
            <h4 class="card-title ">Exhaustion</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary">
                  <tr>
                    <th *ngFor="let cell of exhaustion.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of exhaustion.dataRows">
                    <td style="text-align: center;">{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Exhaustion End -->

        <!-- Difficulty -->
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-pray fa-lg"></i>
            </div>
            <h4 class="card-title ">Difficulty Classes</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary">
                  <tr>
                    <th *ngFor="let cell of difficulty.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of difficulty.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Difficulty End -->
      </div>

      <!-- Basic Weapons -->
      <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-quidditch fa-lg"></i>
            </div>
            <h4 class="card-title ">Basic Weapons</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary" style="text-align: center;">
                  <tr>
                    <th *ngFor="let cell of basicWeapons.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr *ngFor="let row of basicWeapons.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                  </tr>
                </tbody>
              </table>
              <p> 2H = Two Handed |
                A = Ammunition |
                F = Finesse Weapon |
                H = Heavy Weapon |
                Ld = Loading |
                Li = Light Weapon |
                Re = Reach |
                Rg = Range |
                Sp = Special |
                Th = Thrown |
                V = Versatile | </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Basic Weapons End -->

      <div class="col-md-4">

        <!-- Lifestyle Expenses -->
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-utensils fa-lg"></i>
            </div>
            <h4 class="card-title ">Lifestyle Expenses</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary" style="text-align: center;">
                  <tr>
                    <th *ngFor="let cell of lifestyleExpense.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr *ngFor="let row of lifestyleExpense.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <!-- Lifestyle Expenses End -->


        <!-- Currency -->
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-coins fa-lg"></i>
            </div>
            <h4 class="card-title ">Currency Exchange Rates</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary" style="text-align: center;">
                  <tr>
                    <th *ngFor="let cell of currency.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr *ngFor="let row of currency.dataRows">
                    <td><b>{{row[0]}}</b></td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <!-- Currency End -->

        <!-- Actions in Combat -->
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-chess fa-lg"></i>
            </div>
            <h4 class="card-title ">Actions in Combat</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary" style="text-align: center;">
                  <tr>
                    <th *ngFor="let cell of combatActions.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr *ngFor="let row of combatActions.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                  </tr>
                </tbody>
              </table>
              <p>¹ Certain features allow you to make more than one attack, grapple, or shove.
                <br>² These actions are optional and can be found on pages 271-272 of the DMG.</p>
            </div>
          </div>
        </div>
        <!-- Actions in Comb End -->
      </div>

    </div>







  </div>
</div>