<div class="main-content body">
  <div class="container-fluid">
    <div class="row">
      <br />
      <br />
      <!-- <div class="slide-container">
          <div class="wrapper"> -->
      <div class="clash-card enemies">
        <div class="clash-card__image clash-card__image--enemies">
          <img
            style="width: 375px; overflow: hidden;"
            src="https://firebasestorage.googleapis.com/v0/b/healms.appspot.com/o/campaigns%2Fiuejp2fcauva5mwt%2Fnpcs%2Fthumb_Asbjorn%2CKing-Transparent.png?alt=media&token=371ad5db-c0ef-4ec8-97c9-53ee264d2d11"
            alt="barbarian"
          />
        </div>
        <div class="clash-card__level clash-card__level--barbarian">Challenge Rating: 7</div>
        <div class="clash-card__unit-name">Asbjörn the Red</div>
        <div class="progress progress-line-danger">
          <div
            class="progress-bar progress-bar-danger"
            role="progressbar"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 80%;"
          >
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
        <div class="clash-card__unit-description">
          <small>
            After the death of his father, Asbjorn’s first order as King was to sail to the coasts
            of Englar for a glorious raid.
          </small>
        </div>

        <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
          <div class="one-third">
            <div class="stat">15</div>
            <div class="stat-value">DMG+</div>
          </div>

          <div class="one-third">
            <div class="stat">16</div>
            <div class="stat-value">Initiative</div>
          </div>

          <div class="one-third no-border">
            <div class="stat">STUN</div>
            <div class="stat-value">Condition</div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <!-- end clash-card barbarian-->

      <!-- <div class="wrapper"> -->
      <div class="clash-card players">
        <div class="clash-card__image clash-card__image--players">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/healms.appspot.com/o/campaigns%2Fiuejp2fcauva5mwt%2Fcharacters%2Fthumb_abe7c2e6f1d9f57c084b45c1229e3cb02.png%20%2B%201565350685075?alt=media&token=191f9d34-3f3e-4d99-bf7d-34d80591dba7"
            alt="player"
          />
        </div>
        <div class="clash-card__level clash-card__level--players">Level 5</div>
        <div class="clash-card__unit-name">Idun Nordulf</div>
        <div class="clash-card__unit-description">
          <small>
            I'm a very annoying "frontlining" swashbuckling viking, who does everything in my power
            to avoid enemies hit, really annoying my DM.</small
          >
        </div>

        <div class="clash-card__unit-stats clash-card__unit-stats--players clearfix">
          <div class="one-third">
            <div class="stat">15</div>
            <div class="stat-value">AC</div>
          </div>

          <div class="one-third">
            <div class="stat">21</div>
            <div class="stat-value">Initiative</div>
          </div>

          <div class="one-third no-border">
            <div class="stat">PSN</div>
            <div class="stat-value">Condition</div>
          </div>
        </div>
      </div>
      <!-- end clash-card goblin-->
      <!-- </div> -->
      <!-- end wrapper -->
      <!-- </div> -->

      <div class="clash-card ally">
        <div class="clash-card__image clash-card__image--ally">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/healms.appspot.com/o/campaigns%2Fiuejp2fcauva5mwt%2Fnpcs%2Fthumb_Thorleif-Transparent.png?alt=media&token=09063b26-f777-418b-8811-6ab582b2af43"
            alt="ally"
          />
        </div>
        <div class="clash-card__level clash-card__level--ally">Challenge Rating: 6</div>
        <div class="clash-card__unit-name">Thorleif Silketung</div>
        <div class="progress progress-line-info">
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 80%;"
          >
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
        <div class="clash-card__unit-description">
          <small
            >Women, sining, ale and women are the five best things I know. Many tales I've heard
            over my time.</small
          >
        </div>

        <div class="clash-card__unit-stats clash-card__unit-stats--ally clearfix">
          <div class="one-third">
            <div class="stat">5</div>
            <div class="stat-value">DMG+</div>
          </div>

          <div class="one-third">
            <div class="stat">16</div>
            <div class="stat-value">Initiative</div>
          </div>

          <div class="one-third no-border">
            <div class="stat">FRZ</div>
            <div class="stat-value">Condition</div>
          </div>
        </div>
      </div>
      <!-- end clash-card wizard-->
    </div>
  </div>
</div>
