<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img
                  class="img"
                  src="./assets/img/dm-default-avatar.png"
                  matTooltip="Click here to upload a picture"
                  [matTooltipPosition]="'above'"
                />
              </a>
            </div>
          </div>

          <div class="card-body ">
            <form
              method="get"
              action="/"
              class="form-horizontal"
              [formGroup]="creatureForm"
            >
              <div class="row">
                <label class="col-sm-4 col-form-label">Creature Name: </label>
                <div class="col-sm-5">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong>Specify Creature Name</strong>
                    </mat-hint>
                    <input
                      matInput
                      type="text"
                      autocomplete="off"
                      formControlName="creatureName"
                    />
                  </mat-form-field>
                </div>
              </div>
              <!-- SIZE / RACE / ALIGNMENT -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Select Size</label>
                <div class="col-lg-2 col-md-2 col-sm-1">
                  <mat-form-field>
                    <mat-select
                      name="creatireSize"
                      [(value)]="creatureSizeSelect"
                    >
                      <mat-option
                        *ngFor="let size of creatureSize"
                        [value]="size.value"
                      >
                        {{ size.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Select Race</label>
                <div class="col-lg-2 col-md-2 col-sm-1">
                  <mat-form-field>
                    <mat-select name="races" [(value)]="creatureRacesSelect">
                      <mat-option
                        *ngFor="let races of creatureRaces"
                        [value]="races.value"
                      >
                        {{ races.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Select Alignment</label>
                <div class="col-lg-2 col-md-2 col-sm-1">
                  <mat-form-field>
                    <mat-select name="alignments" [(value)]="alignmentsSelect">
                      <mat-option
                        *ngFor="let alignment of alignments"
                        [value]="alignment.value"
                      >
                        {{ alignment.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- SIZE / RACE / ALIGNMENT END -->

              <hr />

              <!-- SKILL POINTS -->
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-form-label"></div>
                <div
                  class="col-lg-1 col-md-1 col-sm-1 col-form-label"
                  style="text-align: center"
                >
                  <h6>STR</h6>
                  <mat-form-field class="example-full-width">
                    <span matSuffix>+0 &nbsp;</span>
                    <input
                      matInput
                      type="text"
                      autocomplete="off"
                      matTooltip="Strength is being able to crush a tomato"
                      [matTooltipPosition]="'below'"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="col-lg-1 col-md-1 col-sm-1 col-form-label"
                  style="text-align: center"
                >
                  <h6>DEX</h6>
                  <mat-form-field class="example-full-width">
                    <span matSuffix>+0 &nbsp;</span>
                    <input
                      matInput
                      type="text"
                      autocomplete="off"
                      matTooltip="Dexterity is being able to dodge a tomato"
                      [matTooltipPosition]="'below'"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="col-lg-1 col-md-1 col-sm-1 col-form-label"
                  style="text-align: center"
                >
                  <h6>CON</h6>
                  <mat-form-field class="example-full-width">
                    <span matSuffix>+0 &nbsp;</span>
                    <input
                      matInput
                      type="text"
                      autocomplete="off"
                      matTooltip="Constitution is being able to eat a bad tomato"
                      [matTooltipPosition]="'below'"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="col-lg-1 col-md-1 col-sm-1 col-form-label"
                  style="text-align: center"
                >
                  <h6>INT</h6>
                  <mat-form-field class="example-full-width">
                    <span matSuffix>+0 &nbsp;</span>
                    <input
                      matInput
                      type="text"
                      autocomplete="off"
                      matTooltip="Intelligence is knowing a tomato is a fruit"
                      [matTooltipPosition]="'below'"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="col-lg-1 col-md-1 col-sm-1 col-form-label"
                  style="text-align: center"
                >
                  <h6>WIS</h6>
                  <mat-form-field class="example-full-width">
                    <span matSuffix>+0 &nbsp;</span>
                    <input
                      matInput
                      type="text"
                      autocomplete="off"
                      matTooltip="Wisdom is knowing not to put a tomato in a fruit salad"
                      [matTooltipPosition]="'below'"
                    />
                  </mat-form-field>
                </div>
                <div
                  class="col-lg-1 col-md-1 col-sm-1 col-form-label"
                  style="text-align: center"
                >
                  <h6>CHA</h6>
                  <mat-form-field class="example-full-width">
                    <span matSuffix>+0 &nbsp;</span>
                    <input
                      matInput
                      type="text"
                      autocomplete="off"
                      matTooltip="Charisma is being able to sell a tomato based fruit salad"
                      [matTooltipPosition]="'below'"
                    />
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-form-label"></div>
              </div>
              <!-- SKILL POINTS END -->

              <hr />

              <!-- AC / HP / SPEED -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Armor Class: </label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong>16 (natural armor)</strong> </mat-hint
                    ><input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
                <label class="col-sm-1 col-form-label">Hit Points: </label>
                <div class="col-sm-1">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>HP Value</strong> </mat-hint
                    ><input
                      matInput
                      type="text"
                      autocomplete="off"
                      matTooltip="Insert number of dice"
                      [matTooltipPosition]="'above'"
                    />
                  </mat-form-field>
                </div>
                <div class="col-sm-1">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong>Dice Select</strong>
                    </mat-hint>
                    <mat-select name="dices" [(value)]="dicesSelect">
                      <mat-option
                        *ngFor="let dice of dices"
                        [value]="dice.value"
                      >
                        {{ dice.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-1">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong>HP Modifier</strong>
                    </mat-hint>
                    <span matPrefix>+ &nbsp;</span>
                    <input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
                <label class="col-sm-1 col-form-label">Speed: </label>
                <div class="col-sm-1">
                  <mat-form-field class="example-full-width">
                    <span matSuffix>ft &nbsp;</span>
                    <mat-hint align="start"><strong>30 ft</strong> </mat-hint>
                    <input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
              </div>
              <!-- AC / HP / SPEED END -->

              <hr />

              <!-- Skills -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Saving Throws: </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong>Str +7, Con +4</strong> </mat-hint
                    ><input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Skills: </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong>Perception +4, Insight +3</strong> </mat-hint
                    ><input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label"
                  >Damage Resistances:
                </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong
                        >Bludgeoning, Piercing & Slashing
                      </strong> </mat-hint
                    ><input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label"
                  >Damage Immunities:
                </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong
                        >Bludgeoning, Piercing & Slashing from non-magical
                        weapons
                      </strong> </mat-hint
                    ><input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Languages: </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong
                        >any one language (usually Common)
                      </strong> </mat-hint
                    ><input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Senses: </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"
                      ><strong>
                        Dark Vision 60ft, passive Perception 14
                      </strong> </mat-hint
                    ><input matInput type="text" autocomplete="off" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label"
                  >Challenge Rating:
                </label>
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select
                      name="challengeRating"
                      [(value)]="challengeRatingSelect"
                    >
                      <mat-option
                        *ngFor="let cr of challengeRating"
                        [value]="cr.value"
                      >
                        {{ cr.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- Skills END -->

              <hr />

              <!-- TRAITS -->
              <div class="row">
                <div class="col-sm-2">
                  <button
                    mat-raised-button
                    class="btn btn-success btn-sm"
                    (click)="addTrait()"
                  >
                    <i class="material-icons">add</i> New Trait
                  </button>
                </div>
                <div class="col-sm-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        (change)="test($event)"
                      />
                      Spell Caster?
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Legendary Creature?
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-1"></div>
              </div>

              <div formArrayName="traits">
                <div
                  *ngFor="let trait of traitFormGroup.controls; let i = index"
                >
                  <div class="row" [formGroupName]="i">
                    <label class="col-sm-2 col-form-label">Trait: </label>
                    <div class="col-sm-2">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Trait Name</strong>
                        </mat-hint>
                        <input
                          matInput
                          type="text"
                          autocomplete="off"
                          formControlName="traitName"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-7">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Trait Description</strong>
                        </mat-hint>
                        <input
                          matInput
                          type="text"
                          autocomplete="off"
                          formControlName="traitDescription"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1" style="padding: 2px">
                      <button
                        mat-raised-button
                        class="btn btn-danger btn-sm"
                        (click)="removeTrait(i)"
                      >
                        <i class="material-icons">clear</i> Clear
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!--MAGIC TRAITS-->

              <ng-container *ngIf="isTrue">
                <div class="row">
                  <label class="col-sm-2 col-form-label">Spellcasting: </label>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <span matPrefix>DC &nbsp;</span>
                      <input matInput type="number" autocomplete="off" />
                      <mat-hint align="start"
                        ><strong>Spell Save</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <span matPrefix>+ &nbsp;</span>
                      <input matInput type="number" autocomplete="off" />
                      <mat-hint align="start"
                        ><strong>Spell Att. Mod</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                      <mat-select
                        name="spellcastingAbility"
                        [(value)]="spellcastingAbilitySelect"
                        formControlName="spellcastingAbility"
                      >
                        <mat-option
                          *ngFor="let sa of spellcastingAbility"
                          [value]="sa.value"
                        >
                          {{ sa.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"
                        ><strong>Spellcasting Ability</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <mat-select
                        name="spellClass"
                        [(value)]="spellClassSelect"
                        formControlName="spellClass"
                      >
                        <mat-option
                          *ngFor="let class of spellClass"
                          [value]="class.value"
                        >
                          {{ class.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"
                        ><strong>Spell Class</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <mat-select
                        name="spellLevel"
                        [(value)]="wizardLevelSelect"
                        formControlName="spellLevel"
                      >
                        <mat-option
                          *ngFor="let lvl of wizardLevelTable"
                          [value]="lvl.value"
                        >
                          {{ lvl.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"
                        ><strong>Class Level</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>


                <div class="row">
                  <label class="col-sm-2 col-form-label">Cantrips: </label>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <mat-select
                        name="canSplots"
                        [(value)]="spellslotsSelect"
                        
                      >
                        <mat-option
                          *ngFor="let cantrip of spellslots"
                          [value]="cantrip.value"
                        >
                          {{ cantrip.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"
                        ><strong>Spellslots</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>

              <!--MAGIC TRAITS END-->

              <!-- TRAITS END -->

              <hr />
              <h4 style="text-align: center"><b>ACTIONS</b></h4>
              <hr />
              <!-- ACTIONS -->
              <div class="row">
                <div class="col-sm-1">
                  <button
                    mat-raised-button
                    class="btn btn-success btn-sm"
                    (click)="addAction()"
                  >
                    <i class="material-icons">add</i> New Action
                  </button>
                </div>
              </div>

              <div formArrayName="actions">
                <div
                  *ngFor="let action of actionFormGroup.controls; let i = index"
                >
                  <div class="row" [formGroupName]="i">
                    <label class="col-sm-1 col-form-label">Action: </label>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Action Name</strong>
                        </mat-hint>
                        <input
                          matInput
                          type="text"
                          autocomplete="off"
                          formControlName="actionName"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Action Description</strong>
                        </mat-hint>
                        <input
                          matInput
                          type="text"
                          autocomplete="off"
                          formControlName="actionDescription"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Hit Modifier</strong>
                        </mat-hint>
                        <input
                          matInput
                          type="text"
                          autocomplete="off"
                          formControlName="actionHitMod"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Reach</strong>
                        </mat-hint>
                        <span matSuffix>ft &nbsp;</span>
                        <input
                          matInput
                          type="text"
                          autocomplete="off"
                          formControlName="actionDmg"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Action Damage</strong>
                        </mat-hint>
                        <input
                          matInput
                          type="text"
                          autocomplete="off"
                          formControlName="actionDmg"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Dice Select</strong>
                        </mat-hint>
                        <mat-select
                          name="dmgDice"
                          [(value)]="dmgDicesSelect"
                          formControlName="actionDice"
                        >
                          <mat-option
                            *ngFor="let dmg of dmgDices"
                            [value]="dmg.value"
                          >
                            {{ dmg.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"
                          ><strong>Damage Modifier</strong>
                        </mat-hint>
                        <input
                          matInput
                          type="number"
                          autocomplete="off"
                          formControlName="actionDmgMod"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1" style="padding: 2px">
                      <button
                        mat-raised-button
                        class="btn btn-danger btn-sm"
                        (click)="removeAction(i)"
                      >
                        <i class="material-icons">clear</i> Clear
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ACTIONS END -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
