<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="./assets/img/dm-default-avatar.png" matTooltip="Click here to upload a picture"
                  [matTooltipPosition]="'above'" />
              </a>
            </div>
          </div>

          <div class="card-body ">
            <form method="get" action="/" class="form-horizontal" [formGroup]="creatureForm">
              <div class="row">
                <label class="col-sm-4 col-form-label">Creature Name: </label>
                <div class="col-sm-5">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>Specify Creature Name</strong>
                    </mat-hint>
                    <input matInput type="text" autocomplete="off" formControlName="creatureName" />
                  </mat-form-field>
                </div>
              </div>
              <!-- SIZE / RACE / ALIGNMENT -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Select Size</label>
                <div class="col-lg-2 col-md-2 col-sm-1">
                  <mat-form-field>
                    <mat-select name="creatireSize" [(value)]="creatureSizeSelect" formControlName="creatureSize">
                      <mat-option *ngFor="let size of creatureSizes" [value]="size.value">
                        {{ size.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Select Race</label>
                <div class="col-lg-2 col-md-2 col-sm-1">
                  <mat-form-field>
                    <mat-select name="creatureRace" [(value)]="creatureRacesSelect" formControlName="creatureRace">
                      <mat-option *ngFor="let races of creatureRaces" [value]="races.value">
                        {{ races.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Select Alignment</label>
                <div class="col-lg-2 col-md-2 col-sm-1">
                  <mat-form-field>
                    <mat-select name="alignments" [(value)]="alignmentsSelect" formControlName="creatureAlignment">
                      <mat-option *ngFor="let alignment of alignments" [value]="alignment.value">
                        {{ alignment.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- SIZE / RACE / ALIGNMENT END -->

              <hr />

              <!-- SKILL POINTS -->
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-form-label"></div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-form-label" style="text-align: center">
                  <h6>STR</h6>
                  <mat-form-field class="example-full-width">
                    <mat-select name="strength" [(value)]="strSelect" formControlName="str">
                      <mat-option *ngFor="let str of str" [value]="str.value">
                        {{ str.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-form-label" style="text-align: center">
                  <h6>DEX</h6>
                  <mat-form-field class="example-full-width">
                      <mat-select name="dexterity" [(value)]="dexSelect" formControlName="dex">
                        <mat-option *ngFor="let dex of dex" [value]="dex.value">
                          {{ dex.viewValue }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-form-label" style="text-align: center">
                  <h6>CON</h6>
                  <mat-form-field class="example-full-width">
                    <mat-select name="constitution" [(value)]="conSelect" formControlName="con">
                      <mat-option *ngFor="let con of con" [value]="con.value">
                        {{ con.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-form-label" style="text-align: center">
                  <h6>INT</h6>
                  <mat-form-field class="example-full-width">
                    <mat-select name="intelligence" [(value)]="intSelect" formControlName="int">
                      <mat-option *ngFor="let int of int" [value]="int.value">
                        {{ int.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-form-label" style="text-align: center">
                  <h6>WIS</h6>
                  <mat-form-field class="example-full-width">
                    <mat-select name="wisdom" [(value)]="wisSelect" formControlName="wis">
                      <mat-option *ngFor="let wis of wis" [value]="wis.value">
                        {{ wis.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-form-label" style="text-align: center">
                  <h6>CHA</h6>
                  <mat-form-field class="example-full-width">
                    <mat-select name="charisma" [(value)]="chaSelect" formControlName="cha">
                      <mat-option *ngFor="let cha of cha" [value]="cha.value">
                        {{ cha.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-form-label"></div>
              </div>
              <!-- SKILL POINTS END -->

              <hr />

              <!-- AC / HP / SPEED -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Armor Class: </label>
                <div class="col-sm-2">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>16 (natural armor)</strong> </mat-hint><input matInput type="text"
                      autocomplete="off" formControlName="armorClass" />
                  </mat-form-field>
                </div>
                <label class="col-sm-1 col-form-label">Hit Points: </label>
                <div class="col-sm-1">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>HP Value</strong> </mat-hint><input matInput type="text"
                      autocomplete="off" matTooltip="Insert number of dice" [matTooltipPosition]="'above'" formControlName="hitPoints" />
                  </mat-form-field>
                </div>
                <div class="col-sm-1">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>Dice Select</strong>
                    </mat-hint>
                    <mat-select name="dices" [(value)]="dicesSelect" formControlName="hitDie">
                      <mat-option *ngFor="let dice of dices" [value]="dice.value">
                        {{ dice.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-1">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>HP Modifier</strong>
                    </mat-hint>
                    <span matPrefix>+ &nbsp;</span>
                    <input matInput type="text" autocomplete="off" formControlName="hitModifier" />
                  </mat-form-field>
                </div>
                <label class="col-sm-1 col-form-label">Speed: </label>
                <div class="col-sm-1">
                  <mat-form-field class="example-full-width">
                    <span matSuffix>ft &nbsp;</span>
                    <mat-hint align="start"><strong>30 ft</strong> </mat-hint>
                    <input matInput type="text" autocomplete="off" formControlName="speed"/>
                  </mat-form-field>
                </div>
              </div>
              <!-- AC / HP / SPEED END -->

              <hr />

              <!-- Skills -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Saving Throws: </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>Str +7, Con +4</strong> </mat-hint><input matInput type="text"
                      autocomplete="off" formControlName="savingThrows" />
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Skills: </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>Perception +4, Insight +3</strong> </mat-hint><input matInput
                      type="text" autocomplete="off" formControlName="skills" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Damage Resistances:
                </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>Bludgeoning, Piercing & Slashing
                      </strong> </mat-hint><input matInput type="text" autocomplete="off" formControlName="dmgRes" />
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Damage Immunities:
                </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>Bludgeoning, Piercing & Slashing from non-magical
                        weapons
                      </strong> </mat-hint><input matInput type="text" autocomplete="off" formControlName="dmgImmunities" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Languages: </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>any one language (usually Common)
                      </strong> </mat-hint><input matInput type="text" autocomplete="off" formControlName="languages" />
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Senses: </label>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-hint align="start"><strong>
                        Dark Vision 60ft, passive Perception 14
                      </strong> </mat-hint><input matInput type="text" autocomplete="off" formControlName="senses" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Challenge Rating:
                </label>
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select name="challengeRating" [(value)]="challengeRatingSelect" formControlName="challengeRating">
                      <mat-option *ngFor="let cr of challengeRatings" [value]="cr.value">
                        {{ cr.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- Skills END -->

              <hr />

              <!-- TRAITS -->
              <div class="row">
                <div class="col-sm-2">
                  <button mat-raised-button class="btn btn-success btn-sm" (click)="addTrait()">
                    <i class="material-icons">add</i> New Trait
                  </button>
                </div>
                <div class="col-sm-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="" (change)="test($event)" />
                      Spell Caster?
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="" (change)="legendary($event)" />
                      Legendary Creature?
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-1"></div>
              </div>

              <div formArrayName="traits">
                <div *ngFor="let trait of traitFormGroup.controls; let i = index">
                  <div class="row" [formGroupName]="i">
                    <label class="col-sm-2 col-form-label">Trait: </label>
                    <div class="col-sm-2">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Trait Name</strong>
                        </mat-hint>
                        <input matInput type="text" autocomplete="off" formControlName="traitName" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-7">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Trait Description</strong>
                        </mat-hint>
                        <input matInput type="text" autocomplete="off" formControlName="traitDescription" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1" style="padding: 2px">
                      <button mat-raised-button class="btn btn-danger btn-sm" (click)="removeTrait(i)">
                        <i class="material-icons">clear</i> Clear
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!--MAGIC TRAITS-->

              <ng-container *ngIf="isTrue">
                <div class="row">
                  <label class="col-sm-2 col-form-label">Spellcasting: </label>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <span matPrefix>DC &nbsp;</span>
                      <input matInput type="number" autocomplete="off" />
                      <mat-hint align="start"><strong>Spell Save</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <span matPrefix>+ &nbsp;</span>
                      <input matInput type="number" autocomplete="off" />
                      <mat-hint align="start"><strong>Spell Att. Mod</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                    <mat-form-field class="example-full-width">
                      <mat-select name="spellcastingAbility" [(value)]="spellcastingAbilitySelect"
                        formControlName="spellcastingAbility">
                        <mat-option *ngFor="let sa of spellCastingAbility" [value]="sa.value">
                          {{ sa.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"><strong>Spellcasting Ability</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <mat-select name="spellClass" [(value)]="spellClassSelect" formControlName="spellClass">
                        <mat-option *ngFor="let class of spellClass" [value]="class.value">
                          {{ class.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"><strong>Spell Class</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field class="example-full-width">
                      <mat-select name="spellLevel" [(value)]="wizardLevelSelect" formControlName="spellLevel">
                        <mat-option *ngFor="let lvl of spellLevels" [value]="lvl.value">
                          {{ lvl.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"><strong>Class Level</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">Cantrips: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #chipListCantrip aria-label="Cantrip selection" formControlName="cantrip">
                        <mat-chip *ngFor="let cantrip of cantrips" [selectable]="selectable" [removable]="removable"
                          (removed)="removeCantrip(cantrip)" style="background-color: #5cb85c; color: white;">
                          {{ cantrip }}
                          <mat-icon matChipRemove *ngIf="removable" style="color: black;">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="cantripCtrl" [matAutocomplete]="autoCantrip"
                          [matChipInputFor]="chipListCantrip" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addCantrip($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autoCantrip="matAutocomplete" (optionSelected)="selectedCantrip($event)">
                        <mat-option *ngFor="let cantrip of filteredCantrips | async" [value]="cantrip">
                          {{ cantrip }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>Cantrips </strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">1st Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #firstChipList aria-label="First level spell selection">
                        <mat-chip *ngFor="let first of firsts" [selectable]="selectable" [removable]="removable"
                          (removed)="removeFirst(first)" style="background-color: #5cb85c; color: white;">
                          {{ first }}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="firstCtrl" [matAutocomplete]="autoFirst"
                          [matChipInputFor]="firstChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addFirst($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autoFirst="matAutocomplete" (optionSelected)="selectedFirst($event)">
                        <mat-option *ngFor="let first of filteredFirsts | async" [value]="first">
                          {{ first }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>1st Level Spells</strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">2nd Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #secondChipList aria-label="Second level spell selection">
                        <mat-chip *ngFor="let second of seconds" [selectable]="selectable" [removable]="removable"
                          (removed)="removeSecond(second)" [color]="success">
                          {{ second }}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="secondCtrl" [matAutocomplete]="autosecond"
                          [matChipInputFor]="secondChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addsecond($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autosecond="matAutocomplete" (optionSelected)="selectedSecond($event)">
                        <mat-option *ngFor="let second of filteredSeconds | async" [value]="second">
                          {{ second }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>2nd Level Spells</strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">3rd Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #thirdChipList aria-label="Third level spell selection">
                        <mat-chip *ngFor="let third of thirds" [selectable]="selectable" [removable]="removable"
                          (removed)="removeThird(third)" [color]="success">
                          {{ third }}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="thirdCtrl" [matAutocomplete]="autothird"
                          [matChipInputFor]="thirdChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addThird($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autothird="matAutocomplete" (optionSelected)="selectedThird($event)">
                        <mat-option *ngFor="let third of filteredThirds | async" [value]="third">
                          {{ third }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>3rd Level Spells</strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">4th Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #fourthChipList aria-label="Fourth level spell selection">
                        <mat-chip *ngFor="let fourth of fourths" [selectable]="selectable" [removable]="removable"
                          (removed)="removeFourth(fourth)" [color]="success">
                          {{ fourth }}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="fourthCtrl" [matAutocomplete]="autofourth"
                          [matChipInputFor]="fourthChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addFourth($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autofourth="matAutocomplete" (optionSelected)="selectedFourth($event)">
                        <mat-option *ngFor="let fourth of filteredFourths | async" [value]="fourth">
                          {{ fourth }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>4th Level Spells</strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">5th Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #fifthChipList aria-label="Fifth level spell selection">
                        <mat-chip *ngFor="let fifth of fifths" [selectable]="selectable" [removable]="removable"
                          (removed)="removeFifth(fifth)" [color]="success">
                          {{ fifth }}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="fifthCtrl" [matAutocomplete]="autofifth"
                          [matChipInputFor]="fifthChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addFifth($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autofifth="matAutocomplete" (optionSelected)="selectedFifth($event)">
                        <mat-option *ngFor="let fifth of filteredFifths | async" [value]="fifth">
                          {{ fifth }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>5th Level Spells</strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">6th Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #chipListSixth aria-label="Sixth selection">
                        <mat-chip *ngFor="let sixth of sixths" [selectable]="selectable" [removable]="removable"
                          (removed)="removeSixth(sixth)" style="background-color: #5cb85c; color: white;">
                          {{ sixth }}
                          <mat-icon matChipRemove *ngIf="removable" style="color: black;">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="sixthCtrl" [matAutocomplete]="autoSixth"
                          [matChipInputFor]="chipListSixth" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addSixth($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autoSixth="matAutocomplete" (optionSelected)="selectedSixth($event)">
                        <mat-option *ngFor="let sixth of filteredSixths | async" [value]="sixth">
                          {{ sixth }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>6th Level Spells </strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <!-- 7th -->
                <div class="row">
                  <label class="col-sm-2 col-form-label">7th Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #seventhChipList aria-label="Seventh level spell selection">
                        <mat-chip *ngFor="let seventh of sevenths" [selectable]="selectable" [removable]="removable"
                          (removed)="removeSeventh(seventh)" style="background-color: #5cb85c; color: white;">
                          {{ seventh }}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="seventhCtrl" [matAutocomplete]="autoSeventh"
                          [matChipInputFor]="seventhChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addSeventh($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autoSeventh="matAutocomplete" (optionSelected)="selectedSeventh($event)">
                        <mat-option *ngFor="let seventh of filteredSevenths | async" [value]="seventh">
                          {{ seventh }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>7th Level Spells</strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <!-- 7th END -->

                <div class="row">
                  <label class="col-sm-2 col-form-label">8th Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #chipListEigth aria-label="Eigth level spell selection">
                        <mat-chip *ngFor="let eigth of eigths" [selectable]="selectable" [removable]="removable"
                          (removed)="removeEigth(eigth)" style="background-color: #5cb85c; color: white;">
                          {{ eigth }}
                          <mat-icon matChipRemove *ngIf="removable" style="color: black;">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="eigthCtrl" [matAutocomplete]="autoEigth"
                          [matChipInputFor]="chipListEigth" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addEigth($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autoEigth="matAutocomplete" (optionSelected)="selectedEigth($event)">
                        <mat-option *ngFor="let eigth of filteredEigths | async" [value]="eigth">
                          {{ eigth }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>8th Level Spells </strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">9th Level: </label>
                  <div class="col-sm-9">
                    <mat-form-field>
                      <mat-chip-list #ninethChipList aria-label="Nineth level spell selection">
                        <mat-chip *ngFor="let nineth of nineths" [selectable]="selectable" [removable]="removable"
                          (removed)="removeNineth(nineth)" style="background-color: #5cb85c; color: white;">
                          {{ nineth }}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input #spellInput [formControl]="ninethCtrl" [matAutocomplete]="autoNineth"
                          [matChipInputFor]="ninethChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addNineth($event)" />
                      </mat-chip-list>
                      <mat-autocomplete #autoNineth="matAutocomplete" (optionSelected)="selectedNineth($event)">
                        <mat-option *ngFor="let nineth of filteredNineths | async" [value]="nineth">
                          {{ nineth }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-hint align="start"><strong>9th Level Spells</strong>
                      </mat-hint>
                      <mat-hint align="end"><strong>*Leave blank if not applicable</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>

              <!--MAGIC TRAITS END-->

              <!-- TRAITS END -->

              <hr />
              <h4 style="text-align: center"><b>ACTIONS</b></h4>
              <hr />
              <!-- ACTIONS -->
              <div class="row">
                <div class="col-sm-1">
                  <button mat-raised-button class="btn btn-success btn-sm" (click)="addAction()">
                    <i class="material-icons">add</i> New Action
                  </button>
                </div>
              </div>

              <div formArrayName="actions">
                <div *ngFor="let action of actionFormGroup.controls; let i = index">
                  <div class="row" [formGroupName]="i">
                    <label class="col-sm-1 col-form-label">Action: </label>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Action Name</strong>
                        </mat-hint>
                        <input matInput type="text" autocomplete="off" formControlName="actionName" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Action Description</strong>
                        </mat-hint>
                        <input matInput type="text" autocomplete="off" formControlName="actionDescription" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Hit Modifier</strong>
                        </mat-hint>
                        <input matInput type="text" autocomplete="off" formControlName="actionHitMod" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Reach</strong>
                        </mat-hint>
                        <span matSuffix>ft &nbsp;</span>
                        <input matInput type="text" autocomplete="off" formControlName="actionReach" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Action Damage</strong>
                        </mat-hint>
                        <input matInput type="text" autocomplete="off" formControlName="actionDmg" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Dice Select</strong>
                        </mat-hint>
                        <mat-select name="dmgDice" [(value)]="dmgDicesSelect" formControlName="actionDice">
                          <mat-option *ngFor="let dmg of dmgDices" [value]="dmg.value">
                            {{ dmg.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1">
                      <mat-form-field class="example-full-width">
                        <mat-hint align="start"><strong>Damage Modifier</strong>
                        </mat-hint>
                        <input matInput type="number" autocomplete="off" formControlName="actionDmgMod" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-1" style="padding: 2px">
                      <button mat-raised-button class="btn btn-danger btn-sm" (click)="removeAction(i)">
                        <i class="material-icons">clear</i> Clear
                      </button>
                    </div>
                  </div>
                </div>
              </div>


              <ng-container *ngIf="legendaryTrue">
                <hr />
                <h4 style="text-align: center"><b>LEGENDARY ACTIONS</b></h4>
                <hr />
                <!-- ACTIONS -->
                <div class="row">
                  <div class="col-sm-1">
                    <button mat-raised-button class="btn btn-success btn-sm" (click)="addLegendary()">
                      <i class="material-icons">add</i> New Action
                    </button>
                  </div>
                </div>


                <div formArrayName="legendary">
                  <div *ngFor="let leg of legendaryFormGroup.controls; let i = index">
                    <div class="row" [formGroupName]="i">
                      <label class="col-sm-1 col-form-label">Action: </label>
                      <div class="col-sm-1">
                        <mat-form-field class="example-full-width">
                          <mat-hint align="start"><strong>Legendary Name</strong>
                          </mat-hint>
                          <input matInput type="text" autocomplete="off" formControlName="legendaryName" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                          <mat-hint align="start"><strong>Legendary Description</strong>
                          </mat-hint>
                          <input matInput type="text" autocomplete="off" formControlName="legendaryDescription" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-1">
                        <mat-form-field class="example-full-width">
                          <mat-hint align="start"><strong>Hit Modifier</strong>
                          </mat-hint>
                          <input matInput type="text" autocomplete="off" formControlName="legendaryHitMod" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-1">
                        <mat-form-field class="example-full-width">
                          <mat-hint align="start"><strong>Reach</strong>
                          </mat-hint>
                          <span matSuffix>ft &nbsp;</span>
                          <input matInput type="text" autocomplete="off" formControlName="legendaryReach" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-1">
                        <mat-form-field class="example-full-width">
                          <mat-hint align="start"><strong>Action Damage</strong>
                          </mat-hint>
                          <input matInput type="text" autocomplete="off" formControlName="legendaryDmg" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-1">
                        <mat-form-field class="example-full-width">
                          <mat-hint align="start"><strong>Dice Select</strong>
                          </mat-hint>
                          <mat-select name="dmgDice" [(value)]="dmgDicesSelect" formControlName="legendaryDice">
                            <mat-option *ngFor="let dmg of dmgDices" [value]="dmg.value">
                              {{ dmg.viewValue }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-1">
                        <mat-form-field class="example-full-width">
                          <mat-hint align="start"><strong>Damage Modifier</strong>
                          </mat-hint>
                          <input matInput type="number" autocomplete="off" formControlName="legendaryDmgMod" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-1" style="padding: 2px">
                        <button mat-raised-button class="btn btn-danger btn-sm" (click)="removeLegendary(i)">
                          <i class="material-icons">clear</i> Clear
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- ACTIONS END -->

              <hr />
              <button mat-raised-button class="btn btn-success btn-sm" (click)="newMonster()">
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>