<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <mat-tab-group mat-align-tabs="center" [color]="primary" style="width: 100%;">
        <mat-tab label="Overview"> </mat-tab>
        <mat-tab label="Generic">
          <div class="card col-md-11">
            <div class="card-header card-header-icon card-header-success">
              <div class="card-icon">
                <i class="fas fa-scroll fa-lg"></i>
              </div>
              <h4 class="card-title">
                New Adventure -
                <small class="category">Generic</small>
              </h4>
            </div>
            <div class="card-body">
              <form class="form" method="" action="" [formGroup]="advGenericForm">
                <!-- <form class="form" method="" action=""> -->
                <div class="row">
                  <div class="col-md-7">
                    <mat-form-field class="example-full-width" floatLabel="always">
                      <input
                        class="ml-auto mr-auto"
                        matInput
                        type="text"
                        autocomplete="off"
                        formControlName="genTitle"
                      />
                      <mat-label>Adventure Title</mat-label>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">OBJECTIVE</h1>
                    <angular-editor id="" formControlName="genObjective"></angular-editor>
                    <mat-hint
                      ><b
                        >This is the main objective during the adventure, what do you want the
                        players to learn or find? Should the players protect an endangered NPC?</b
                      ></mat-hint
                    >
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">THEME</h1>
                    <angular-editor id="" formControlName="genTheme"></angular-editor>
                    <mat-hint
                      ><b
                        >What is the theme of this adventure? Make sure to carry out the theme
                        during the plot.</b
                      ></mat-hint
                    >
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      EXPECTATIONS
                    </h1>
                    <angular-editor
                      id=""
                      [config]="config"
                      formControlName="genExpectations"
                    ></angular-editor>
                    <mat-hint
                      ><strong
                        >You could make a list of things you expect to happen during this
                        adventure.</strong
                      ></mat-hint
                    >
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">OPENING</h1>
                    <angular-editor id="" formControlName="genOpening"></angular-editor>
                    <mat-hint
                      ><b
                        >What starts off this adventure? Stakeout gone wrong? Town full of people
                        who only speaks as ducks?</b
                      ></mat-hint
                    >
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-4 text-center">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">TYPE</h1>
                    <mat-form-field>
                      <mat-select placeholder="Select Type" formControlName="genType">
                        <mat-option *ngFor="let type of types" [(value)]="type.value">
                          {{ type.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 text-center">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">FOCUS</h1>
                    <mat-form-field>
                      <mat-select placeholder="Select Focus" formControlName="genFocus">
                        <mat-option *ngFor="let focus of focuses" [(value)]="focus.value">
                          {{ focus.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 text-center">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      MAIN ADVERSARY TYPE
                    </h1>
                    <mat-form-field>
                      <mat-select placeholder="Select Adversary" formControlName="genAdversary">
                        <mat-option
                          *ngFor="let adversary of adversaries"
                          [(value)]="adversary.value"
                        >
                          {{ adversary.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <br />
                <div class="col-md-12 text-center">
                  <h3 class="display-3" style="font-size: 1.3em; font-weight: bold">
                    ACT I
                  </h3>
                  <hr />
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      INTRO GOAL
                    </h1>
                    <angular-editor id="" formControlName="act1Goal"></angular-editor>
                    <mat-hint
                      ><b
                        >Tell your players what their goal is quickly and clearly - Save the prince,
                        rescue the fireman, or arrest the police officer.
                      </b></mat-hint
                    >
                  </div>
                </div>

                <br />

                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      INTRO ENEMY
                    </h1>
                    <angular-editor id="" formControlName="act1Enemy"></angular-editor>
                    <mat-hint
                      ><b
                        >Give your players someone or something to hate early on in the adventure so
                        they can track them down.
                      </b></mat-hint
                    >
                  </div>
                </div>

                <br />

                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      INTRO SITUATION
                    </h1>
                    <angular-editor id="" formControlName="act1Situation"></angular-editor>
                    <mat-hint
                      ><b
                        >Do not delay to establish the situation the PCs find themselves in. A
                        battle, a robbery, a cooking competition.
                      </b></mat-hint
                    >
                  </div>
                </div>
                <br />

                <div class="col-md-12 text-center">
                  <h3 class="display-3" style="font-size: 1.3em; font-weight: bold">
                    ACT II
                  </h3>
                  <hr />
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      SET-UP JOURNEY
                    </h1>
                    <angular-editor id="" formControlName="act2Journey"></angular-editor>
                    <mat-hint
                      ><b
                        >As this is the bulk of your adventure, fill it with encounters, NPCs, and
                        other curious events and moments.
                      </b></mat-hint
                    >
                  </div>
                </div>

                <br />

                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      FIRST ATTEMPT
                    </h1>
                    <angular-editor id="" formControlName="act2FirstAttempt"></angular-editor>
                    <mat-hint
                      ><b
                        >The PCs must have a crack at resolving the situation, and should fail. That
                        way they can learn how to really win and try again!
                      </b></mat-hint
                    >
                  </div>
                </div>

                <br />

                <div class="col-md-12 text-center">
                  <h3 class="display-3" style="font-size: 1.3em; font-weight: bold">
                    ACT III
                  </h3>
                  <hr />
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      FALSE ENDING
                    </h1>
                    <angular-editor id="" formControlName="act3FalseEnding"></angular-editor>
                    <mat-hint
                      ><b
                        >Make it appear as if the PCs have won, and then reveal there is more to it!
                        A surprise.
                      </b></mat-hint
                    >
                  </div>
                </div>

                <br />

                <div class="row">
                  <div class="col-md-12">
                    <h1 class="display-3" style="font-size: 1.1em; font-weight: bold">
                      FINAL SHOWDOWN
                    </h1>
                    <angular-editor id="" formControlName="act3FinalShowdown"></angular-editor>
                    <mat-hint
                      ><b
                        >Make sure to conclude your adventure with the enemy defeated and the heroes
                        victorious.
                      </b></mat-hint
                    >
                  </div>
                </div>
                <br />
                <br />

                <br />
                <hr />
                <div class="ml-auto mr-auto">
                  <button mat-raised-button (click)="newAdventure()" class="btn btn-success">
                    Create Adventure
                  </button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </mat-tab>
        <mat-tab disabled label="Structure"> </mat-tab>
        <mat-tab disabled label="Components"> </mat-tab>
        <mat-tab label="Relations">
          <div class="card col-md-11">
            <div class="card-header card-header-icon card-header-success">
              <div class="card-icon">
                <i class="fas fa-scroll fa-lg"></i>
              </div>
              <h4 class="card-title">
                New Adventure -
                <small class="category">Relations</small>
              </h4>
            </div>
            <div class="card-body">
              <form class="form" method="" action="" [formGroup]="advRelationsForm"></form>
            </div>
          </div>
        </mat-tab>
        <mat-tab disabled label="Backdrops"> </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
