<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" style="padding-top: 40px;">
        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">
              Character Creation -
              <small class="category">Create a new player for your campaign</small>
            </h4>
          </div>
          <div class="card-body">
            <form [formGroup]="characterForm">
              <div class="row">
                <div class="col-sm-5 mr-auto ml-auto">
                  <mat-form-field class="example-full-width" floatLabel="always">
                    <mat-label>CHARACTER NAME</mat-label>
                    <mat-hint align="start"><strong>Specify Character Name</strong> </mat-hint>
                    <input
                      matInput
                      type="text"
                      autocomplete="off"
                      formControlName="characterName"
                    />
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <mat-form-field floatLabel="always">
                      <mat-select
                        placeholder="Select Class"
                        name="class"
                        required
                        formControlName="characterClass"
                      >
                        <mat-option *ngFor="let class of classes" [value]="class.value">
                          {{ class.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"><strong>Select a class</strong> </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <mat-form-field floatLabel="always">
                      <mat-select
                        placeholder="Select Race"
                        name="race"
                        required
                        formControlName="characterRace"
                      >
                        <mat-option *ngFor="let race of races" [value]="race.value">
                          {{ race.viewValue }}
                        </mat-option>
                        <mat-hint align="start"><strong>Select a race</strong> </mat-hint>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <mat-form-field floatLabel="always">
                      <mat-select
                        placeholder="Choose Level"
                        name="class"
                        required
                        formControlName="characterLevel"
                      >
                        <mat-option *ngFor="let level of level" [value]="level.value">
                          {{ level.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"><strong>Choose level</strong> </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <mat-form-field floatLabel="always">
                      <mat-select
                        placeholder="Armor Rating"
                        name="class"
                        required
                        formControlName="characterAC"
                      >
                        <mat-option *ngFor="let ac of ac" [value]="ac.value">
                          {{ ac.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"><strong>Choose AC</strong> </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <mat-form-field floatLabel="always">
                      <mat-select
                        placeholder="Passive Wisdom"
                        name="class"
                        required
                        formControlName="characterPassiveWisdom"
                      >
                        <mat-option *ngFor="let wis of wis" [value]="wis.value">
                          {{ wis.viewValue }}
                        </mat-option>
                      </mat-select>
                      <mat-hint align="start"><strong>Select pas. wisdom</strong> </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating"> Backstory</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      formControlName="characterBackstory"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail img-circle card-avatar">
                      <img src="./assets/img/placeholder.jpg" alt="..." />
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail card-avatar"></div>
                    <div>
                      <span class="btn btn-round btn-success btn-file">
                        <span class="fileinput-new">Add Photo</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="..." (change)="detectFiles($event)" />
                      </span>
                      <br />
                      <a
                        href="#pablo"
                        class="btn btn-danger btn-round fileinput-exists"
                        data-dismiss="fileinput"
                        ><i class="fa fa-times"></i> Remove</a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <br />
              <hr />
              <button mat-raised-button (click)="newCharacter()" class="btn btn-success pull-right">
                Create Player Character
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 fixedSheet ps-child">
        <app-character-sheet></app-character-sheet>
      </div>
    </div>
  </div>
</div>
