<div class="row">
  <div class="col-md-6">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="./assets/img/faces/Cleric-Transparent.png" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">Human-Varient | Cleric [4] - Wizard [2]</h6>
        <div class="row">
          <div class="col-md-3">
            <small class="card-title text-gray"><i class="fas fa-shield-alt">: 15</i></small>
          </div>
          <h4 class="card-title col-md-6">Akatosh</h4>
          <div class="col-md-3">
            <small class="card-title text-gray"><i class="far fa-hourglass">: 15</i></small>
          </div>
        </div>
        <p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye
          loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
        <a mat-raised-button class="btn btn-success btn-round">Add to Campaign</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="./assets/img/faces/Knud-Transparent.png" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">Human-Varient | Monk [8] </h6>
        <h4 class="card-title">Knud Lokirsen</h4>
        <p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye
          loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
        <a mat-raised-button class="btn btn-success btn-round">Add to Campaign</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="./assets/img/faces/Idun.png" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">Human-Varient | Cleric [4] - Wizard [2]</h6>
        <h4 class="card-title">Idun Nordulf</h4>
        <p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye
          loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
        <a mat-raised-button class="btn btn-success btn-round">Add to Campaign</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="./assets/img/faces/Druid-Transparent.png" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">Human-Varient | Monk [8] </h6>
        <h4 class="card-title">Saga</h4>
        <p class="card-description">
          <!-- Characters == 166 MAX! -->
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye
          loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
        <a mat-raised-button class="btn btn-success btn-round">Add to Campaign</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="./assets/img/faces/Idun.png" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">Human-Varient | Cleric [4] - Wizard [2]</h6>
        <h4 class="card-title">Idun Nordulf</h4>
        <p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye
          loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
        <a mat-raised-button class="btn btn-success btn-round">Add to Campaign</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="./assets/img/faces/Druid-Transparent.png" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category text-gray">Human-Varient | Monk [8] </h6>
        <h4 class="card-title">Saga</h4>
        <p class="card-description">
          <!-- Characters == 166 MAX! -->
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye
          loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
        <a mat-raised-button class="btn btn-success btn-round">Add to Campaign</a>
      </div>
    </div>
  </div>
</div>