<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <div class="row">

          <ng-container *ngFor="let c of cities">
            <div class="col-md-4">
              <div class="card card-product">
                <div class="card-header card-header-image" data-header-animation="true">
                  <a href="#pablo">
                    <img class="img" [src]="c.photoURL">
                  </a>
                </div>
                <div class="card-body">
                  <div class="card-actions text-center">
                    <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                      <i class="material-icons">build</i> Image Loading!
                    </button>
                    <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                      [matTooltipPosition]="'below'">
                      <i class="material-icons">art_track</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                      [matTooltipPosition]="'below'">
                      <i class="material-icons">edit</i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-warning btn-link" matTooltip="Go Live"
                      [matTooltipPosition]="'below'">
                      <i class="fab fa-d-and-d"></i>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                      [matTooltipPosition]="'below'">
                      <i class="material-icons">close</i>
                    </button>
                  </div>
                  <h4 class="card-title">
                    <a href="#pablo">{{c.cityName}}</a>
                  </h4>
                  <div class="card-description">
                    <small>{{c.cityDesc}}</small>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats mr-auto">
                    <p class="card-category"><i class="fas fa-crown">&nbsp;</i>{{c.cityLeader}}</p>
                  </div>

                  <div class="stats ml-auto">
                    <p class="card-category"><i class="material-icons">place</i>{{c.country}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>


          <!-- <div class="col-md-4">
            <div class="card card-product">
              <div class="card-header card-header-image" data-header-animation="true">
                <a href="#pablo">
                  <img class="img" src="./assets/img/cities/Sistefestning-nogrid.jpg">
                </a>
              </div>
              <div class="card-body">
                <div class="card-actions text-center">
                  <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                    <i class="material-icons">build</i> Fix Header!
                  </button>
                  <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">art_track</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">edit</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-warning btn-link" matTooltip="Go Live"
                    [matTooltipPosition]="'below'">
                    <i class="fab fa-d-and-d"></i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">close</i>
                  </button>
                </div>
                <h4 class="card-title">
                  <a href="#pablo">Siste Festning</a>
                </h4>
                <div class="card-description">
                  Siste Festning is the home of Thorunn, Queen of clan Gjallarhorn. The town is located near the south
                  of Jutland territory and holds one of the greater armies in the north.
                  A large horn located south of the Jarls longhouse - called Gjallarhorn.
                </div>
              </div>
              <div class="card-footer">
                <div class="stats mr-auto">
                  <p class="card-category"><i class="fas fa-crown">&nbsp;</i>Queen Thorunn</p>
                </div>

                <div class="stats ml-auto">
                  <p class="card-category"><i class="material-icons">place</i>Siste Festning, Jutland</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-product">
              <div class="card-header card-header-image" data-header-animation="true">
                <a href="#pablo">
                  <img class="img" src="./assets/img/cities/smalltown.jpg">
                </a>
              </div>
              <div class="card-body">
                <div class="card-actions text-center">
                  <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                    <i class="material-icons">build</i> Fix Header!
                  </button>
                  <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">art_track</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">edit</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">close</i>
                  </button>
                </div>
                <h4 class="card-title">
                  <a href="#pablo">Beautiful Castle</a>
                </h4>
                <div class="card-description">
                  The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you
                  can
                  enjoy the main night life in Milan.
                </div>
              </div>
              <div class="card-footer">
                <div class="price">
                  <h4>$459/night</h4>
                </div>
                <div class="stats">
                  <p class="card-category"><i class="material-icons">place</i> Milan, Italy</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-product">
              <div class="card-header card-header-image" data-header-animation="true">
                <a href="#pablo">
                  <img class="img" src="./assets/img/cities/Sistefestning-nogrid.jpg">
                </a>
              </div>
              <div class="card-body">
                <div class="card-actions text-center">
                  <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                    <i class="material-icons">build</i> Fix Header!
                  </button>
                  <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">art_track</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">edit</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">close</i>
                  </button>
                </div>
                <h4 class="card-title">
                  <a href="#pablo">Beautiful Castle</a>
                </h4>
                <div class="card-description">
                  The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you
                  can
                  enjoy the main night life in Milan.
                </div>
              </div>
              <div class="card-footer">
                <div class="price">
                  <h4>$459/night</h4>
                </div>
                <div class="stats">
                  <p class="card-category"><i class="material-icons">place</i> Milan, Italy</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-product">
              <div class="card-header card-header-image" data-header-animation="true">
                <a href="#pablo">
                  <img class="img" src="./assets/img/cities/smalltown.jpg">
                </a>
              </div>
              <div class="card-body">
                <div class="card-actions text-center">
                  <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                    <i class="material-icons">build</i> Fix Header!
                  </button>
                  <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="View"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">art_track</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">edit</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">close</i>
                  </button>
                </div>
                <h4 class="card-title">
                  <a href="#pablo">Beautiful Castle</a>
                </h4>
                <div class="card-description">
                  The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you
                  can
                  enjoy the main night life in Milan.
                </div>
              </div>
              <div class="card-footer">
                <div class="price">
                  <h4>$459/night</h4>
                </div>
                <div class="stats">
                  <p class="card-category"><i class="material-icons">place</i> Milan, Italy</p>
                </div>
              </div>
            </div>
          </div> -->

        </div>
      </div>



      <div class="col-md-4">
        <div class="card col-md-3" style="position: fixed;">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-campground fa-lg"></i>
            </div>
            <h4 class="card-title">New City -
              <small class="category">Add a new city to your campaign</small>
            </h4>
          </div>
          <div class="card-body">
            <form class="form" method="" action="" [formGroup]="cityForm">
              <div class="row">
                <div class="col-md-7">
                  <mat-form-field class="example-full-width" floatLabel="always">
                    <input matInput type="text" autocomplete="off" formControlName="name">
                    <mat-label>City Name</mat-label>
                  </mat-form-field>
                </div>

                <div class="col-md-5">
                  <mat-form-field class="example-full-width" floatLabel="always">
                    <input matInput type="text" autocomplete="off" formControlName="country">
                    <mat-label>Country</mat-label>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" floatLabel="always">
                    <input matInput type="text" autocomplete="off" formControlName="population">
                    <mat-label>Population</mat-label>
                  </mat-form-field>
                </div>

                <div class="col-md-5">
                  <mat-form-field class="example-full-width" floatLabel="always">
                    <input matInput type="text" autocomplete="off" formControlName="lord">
                    <mat-label>Lord / Jarl / King / President</mat-label>
                  </mat-form-field>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">City Description</label>
                    <textarea class="form-control" rows="3" formControlName="description">
                    </textarea>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-md-3 ml-auto mr-auto">
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail card-avatar">
                      <img src="./assets/img/placeholder.jpg" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail card-avatar"></div>
                    <div>
                      <span class="btn btn-round btn-success btn-file">
                        <span class="fileinput-new">Add Photo</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="..." (change)="detectFiles($event)" />
                      </span>
                      <br />
                      <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                          class="fa fa-times"></i> Remove</a>
                    </div>
                  </div>
                </div>
              </div>

              <br>
              <hr>
              <button mat-raised-button (click)="newCity()" class="btn btn-success pull-right">Create City</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>