<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4">
        <h2>Casting a Spell:</h2>
        <small>{{this.spellCasting.Spellcasting.content}}</small>

        <h3>What is a Spell?</h3>
        <small>{{this.spellCasting.Spellcasting['Casting a Spell'].content[0]}}</small>
        <br>
        <small>{{this.spellCasting.Spellcasting['Casting a Spell'].content[1]}}</small>

        <h3>Spell Level</h3>
        <!-- <small>{{this.data.Spellcasting['Casting a Spell'].['Spell Level'].content[0]}}</small> -->


      </div>

      <div class="col-md-4">
        <a [ngbPopover]="hover" triggers="mouseenter:mouseleave" popoverTitle="Pop title">
          Hover over me!
        </a>

        <ng-template #hover>
          <p>You see, I show up on hover!</p>
        </ng-template>

      </div>


      <div class="col-md-4">

        <div class="card">
          <div class="card-header card-header-icon card-header-success">
            <div class="card-icon">
              <i class="fas fa-magic fa-lg"></i>
            </div>
            <h4 class="card-title ">Spelllist by Class</h4>
          </div>
          <div class="card-body">
            <div id="accordion" role="tablist">

              <!-- Bard -->
              <div class="card-collapse">
                <div class="card-header" role="tab" id="bard">
                  <h5 class="mb-0">
                    <a class="small" data-toggle="collapse" href="#collapseBard" aria-expanded="true"
                      aria-controls="collapse" class="collapsed">
                      Bard
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseBard" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion" style="">
                  <div class="card-body">

                    <h6>Cantrips</h6>
                    <div class="row">
                      <ng-container *ngFor="let cantrip of this.bardCantrips">
                        <li [ngbPopover]="spell" triggers="mouseenter:mouseleave" [popoverTitle]="title"
                          (mouseenter)="mouseEnter(cantrip)" popoverClass="spellPopup">
                          {{cantrip}}&nbsp;&nbsp;&nbsp;

                        </li>



                      </ng-container>

                      <ng-template #title>

                      </ng-template>
                      <ng-template #spell>

                        <div class="row">
                          <div class="col-md-4">
                            <h6>LEVEL:</h6>
                            <small>Cantrip</small>
                          </div>

                          <div class="col-md-4">
                            <h6>CASTING TIME:</h6>
                            <small>{{this.bardCantripsDescription.time[0]}}</small>
                          </div>

                          <div class="col-md-4">
                            <h6>RANGE / AREA:</h6>
                            <small>{{this.bardCantripsDescription.range[0]}}</small>
                          </div>

                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-4">
                            <h6>COMPONENTS:</h6>
                            <small>{{this.bardCantripsDescription.components[0]}}</small>
                          </div>

                          <div class="col-md-4">
                            <h6>DURATION:</h6>
                            <small>{{this.bardCantripsDescription.duration[0]}}</small>
                          </div>

                          <div class="col-md-4">
                            <h6>School:</h6>
                            <small>{{this.bardCantripsDescription.school[0]}}</small>
                          </div>
                        </div>

                        <hr>

                        <small>{{this.bardCantripsDescription.text[0]}}</small>





                      </ng-template>

                    </div>


                    <br>

                    <h6>1st Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let first of this.spellList.Bard.First">
                        <li>{{first}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>2nd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let second of this.spellList.Bard.Second">
                        <li>{{second}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>3rd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let third of this.spellList.Bard.Third">
                        <li>{{third}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>4th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fourth of this.spellList.Bard.Fourth">
                        <li>{{fourth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>5th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fifth of this.spellList.Bard.Fifth">
                        <li>{{fifth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>6th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let sixth of this.spellList.Bard.Sixth">
                        <li>{{sixth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>7th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let seventh of this.spellList.Bard.Seventh">
                        <li>{{seventh}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>8th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let eighted of this.spellList.Bard.Eighted">
                        <li>{{eighted}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>9th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let ninth of this.spellList.Bard.Ninth">
                        <li>{{ninth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Cleric -->
              <div class="card-collapse">
                <div class="card-header" role="tab" id="bard">
                  <h5 class="mb-0">
                    <a class="small" data-toggle="collapse" href="#collapseCleric" aria-expanded="true"
                      aria-controls="collapse" class="collapsed">
                      Cleric
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseCleric" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion" style="">
                  <div class="card-body">

                    <h6>Cantrips</h6>
                    <div class="row">
                      <ng-container *ngFor="let cantrip of this.spellList.Cleric.Cantrips">
                        <li>{{cantrip}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>


                    <br>

                    <h6>1st Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let first of this.spellList.Cleric.First">
                        <li>{{first}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>2nd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let second of this.spellList.Cleric.Second">
                        <li>{{second}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>3rd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let third of this.spellList.Cleric.Third">
                        <li>{{third}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>4th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fourth of this.spellList.Cleric.Fourth">
                        <li>{{fourth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>5th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fifth of this.spellList.Cleric.Fifth">
                        <li>{{fifth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>6th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let sixth of this.spellList.Cleric.Sixth">
                        <li>{{sixth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>7th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let seventh of this.spellList.Cleric.Seventh">
                        <li>{{seventh}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>8th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let eighted of this.spellList.Cleric.Eighted">
                        <li>{{eighted}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>9th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let ninth of this.spellList.Cleric.Ninth">
                        <li>{{ninth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Druid -->
              <div class="card-collapse">
                <div class="card-header" role="tab" id="bard">
                  <h5 class="mb-0">
                    <a class="small" data-toggle="collapse" href="#collapseDruid" aria-expanded="true"
                      aria-controls="collapse" class="collapsed">
                      Druid
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseDruid" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion" style="">
                  <div class="card-body">

                    <h6>Cantrips</h6>
                    <div class="row">
                      <ng-container *ngFor="let cantrip of this.spellList.Druid.Cantrips">
                        <li>{{cantrip}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>


                    <br>

                    <h6>1st Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let first of this.spellList.Druid.First">
                        <li>{{first}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>2nd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let second of this.spellList.Druid.Second">
                        <li>{{second}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>3rd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let third of this.spellList.Druid.Third">
                        <li>{{third}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>4th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fourth of this.spellList.Druid.Fourth">
                        <li>{{fourth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>5th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fifth of this.spellList.Druid.Fifth">
                        <li>{{fifth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>6th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let sixth of this.spellList.Druid.Sixth">
                        <li>{{sixth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>7th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let seventh of this.spellList.Druid.Seventh">
                        <li>{{seventh}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>8th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let eighted of this.spellList.Druid.Eighted">
                        <li>{{eighted}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>9th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let ninth of this.spellList.Druid.Ninth">
                        <li>{{ninth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Paladin -->
              <div class="card-collapse">
                <div class="card-header" role="tab" id="bard">
                  <h5 class="mb-0">
                    <a class="small" data-toggle="collapse" href="#collapsePaladin" aria-expanded="true"
                      aria-controls="collapse" class="collapsed">
                      Paladin
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapsePaladin" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion" style="">
                  <div class="card-body">


                    <h6>1st Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let first of this.spellList.Paladin.First">
                        <li>{{first}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>2nd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let second of this.spellList.Paladin.Second">
                        <li>{{second}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>3rd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let third of this.spellList.Paladin.Third">
                        <li>{{third}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>4th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fourth of this.spellList.Paladin.Fourth">
                        <li>{{fourth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>5th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fifth of this.spellList.Paladin.Fifth">
                        <li>{{fifth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>



                  </div>
                </div>
              </div>

              <!-- Ranger -->
              <div class="card-collapse">
                <div class="card-header" role="tab" id="bard">
                  <h5 class="mb-0">
                    <a class="small" data-toggle="collapse" href="#collapseRanger" aria-expanded="true"
                      aria-controls="collapse" class="collapsed">
                      Ranger
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseRanger" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion" style="">
                  <div class="card-body">

                    <h6>1st Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let first of this.spellList.Ranger.First">
                        <li>{{first}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>2nd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let second of this.spellList.Ranger.Second">
                        <li>{{second}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>3rd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let third of this.spellList.Ranger.Third">
                        <li>{{third}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>4th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fourth of this.spellList.Ranger.Fourth">
                        <li>{{fourth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>5th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fifth of this.spellList.Ranger.Fifth">
                        <li>{{fifth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>


                  </div>
                </div>
              </div>

              <!-- Sorcerer -->
              <div class="card-collapse">
                <div class="card-header" role="tab" id="bard">
                  <h5 class="mb-0">
                    <a class="small" data-toggle="collapse" href="#collapseSorcerer" aria-expanded="true"
                      aria-controls="collapse" class="collapsed">
                      Sorcerer
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseSorcerer" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion" style="">
                  <div class="card-body">

                    <h6>Cantrips</h6>
                    <div class="row">
                      <ng-container *ngFor="let cantrip of this.spellList.Sorcerer.Cantrips">
                        <li>{{cantrip}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>


                    <br>

                    <h6>1st Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let first of this.spellList.Sorcerer.First">
                        <li>{{first}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>2nd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let second of this.spellList.Sorcerer.Second">
                        <li>{{second}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>3rd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let third of this.spellList.Sorcerer.Third">
                        <li>{{third}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>4th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fourth of this.spellList.Sorcerer.Fourth">
                        <li>{{fourth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>5th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fifth of this.spellList.Sorcerer.Fifth">
                        <li>{{fifth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>6th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let sixth of this.spellList.Sorcerer.Sixth">
                        <li>{{sixth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>7th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let seventh of this.spellList.Sorcerer.Seventh">
                        <li>{{seventh}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>8th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let eighted of this.spellList.Sorcerer.Eighted">
                        <li>{{eighted}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>9th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let ninth of this.spellList.Sorcerer.Ninth">
                        <li>{{ninth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Warlock -->
              <div class="card-collapse">
                <div class="card-header" role="tab" id="bard">
                  <h5 class="mb-0">
                    <a class="small" data-toggle="collapse" href="#collapseWarlock" aria-expanded="true"
                      aria-controls="collapse" class="collapsed">
                      Warlock
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseWarlock" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion" style="">
                  <div class="card-body">

                    <h6>Cantrips</h6>
                    <div class="row">
                      <ng-container *ngFor="let cantrip of this.spellList.Warlock.Cantrips">
                        <li>{{cantrip}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>


                    <br>

                    <h6>1st Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let first of this.spellList.Warlock.First">
                        <li>{{first}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>2nd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let second of this.spellList.Warlock.Second">
                        <li>{{second}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>3rd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let third of this.spellList.Warlock.Third">
                        <li>{{third}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>4th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fourth of this.spellList.Warlock.Fourth">
                        <li>{{fourth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>5th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fifth of this.spellList.Warlock.Fifth">
                        <li>{{fifth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>6th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let sixth of this.spellList.Warlock.Sixth">
                        <li>{{sixth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>7th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let seventh of this.spellList.Warlock.Seventh">
                        <li>{{seventh}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>8th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let eighted of this.spellList.Warlock.Eighted">
                        <li>{{eighted}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>9th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let ninth of this.spellList.Warlock.Ninth">
                        <li>{{ninth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Wizard -->
              <div class="card-collapse">
                <div class="card-header" role="tab" id="bard">
                  <h5 class="mb-0">
                    <a class="small" data-toggle="collapse" href="#collapseWizard" aria-expanded="true"
                      aria-controls="collapse" class="collapsed">
                      Wizard
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseWizard" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                  data-parent="#accordion" style="">
                  <div class="card-body">

                    <h6>Cantrips</h6>
                    <div class="row">
                      <ng-container *ngFor="let cantrip of this.spellList.Wizard.Cantrips">
                        <li>{{cantrip}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>


                    <br>

                    <h6>1st Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let first of this.spellList.Wizard.First">
                        <li>{{first}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>2nd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let second of this.spellList.Wizard.Second">
                        <li>{{second}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>3rd Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let third of this.spellList.Wizard.Third">
                        <li>{{third}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>4th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fourth of this.spellList.Wizard.Fourth">
                        <li>{{fourth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>5th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let fifth of this.spellList.Wizard.Fifth">
                        <li>{{fifth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>6th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let sixth of this.spellList.Wizard.Sixth">
                        <li>{{sixth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>7th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let seventh of this.spellList.Wizard.Seventh">
                        <li>{{seventh}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>8th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let eighted of this.spellList.Wizard.Eighted">
                        <li>{{eighted}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                    <br>

                    <h6>9th Levels Spells</h6>
                    <div class="row">
                      <ng-container *ngFor="let ninth of this.spellList.Wizard.Ninth">
                        <li>{{ninth}}&nbsp;&nbsp;&nbsp;</li>
                      </ng-container>
                    </div>

                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>