<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">


        <ng-template #dashboard>


          <div class="row">
            <div class="col-md-7 mr-auto">

              <!-- Session Tasks -->
              <div class="card">
                <div class="card-header card-header-tabs card-header-warning">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Rune Thief:</span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">bug_report</i> Chapter I
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">code</i> Chapter II
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">cloud</i> Chapter III
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let row of tasks1">
                            <td>
                              <div [ngSwitch]="row.checked">
                                <div *ngSwitchCase="true">
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="" checked>
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                </div>
                                <div *ngSwitchDefault>
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                </div>

                              </div>
                            </td>
                            <td>{{row.title}}</td>
                            <td class="td-actions text-right">
                              <button mat-raised-button type="button" matTooltip="Edit Task"
                                [matTooltipPosition]="'left'" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>

                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'left'"
                                class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane" id="messages">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let row of tasks2">
                            <td>
                              <div [ngSwitch]="row.checked">
                                <div *ngSwitchCase="true">
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="" checked>
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                </div>
                                <div *ngSwitchDefault>
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                </div>

                              </div>
                            </td>
                            <td>{{row.title}}</td>
                            <td class="td-actions text-right">
                              <button mat-raised-button type="button" matTooltip="Edit Task"
                                [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                                class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane" id="settings">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let row of tasks3">
                            <td>
                              <div [ngSwitch]="row.checked">
                                <div *ngSwitchCase="true">
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="" checked>
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                </div>
                                <div *ngSwitchDefault>
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="">
                                      <span class="form-check-sign">
                                        <span class="check"></span>
                                      </span>
                                    </label>
                                  </div>
                                </div>

                              </div>
                            </td>
                            <td>{{row.title}}</td>
                            <td class="td-actions text-right">
                              <button mat-raised-button type="button" matTooltip="Edit Task"
                                [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Session Tasks -->

              <!-- Encounter Table -->
              <div class="card">
                <div class="card-header card-header-icon card-header-success">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title ">Encounter Table (Players)</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <ng2-smart-table [settings]="settings" [source]="source" class="mat-table no-wrap">
                    </ng2-smart-table>
                  </div>
                </div>
              </div>
              <!-- Encounter Table End -->


              <!-- Full Encounter Table -->
              <div class="card">
                <div class="card-header card-header-icon card-header-info">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title ">Encounter Table (Full)</h4>
                </div>
                <div class="card-body table-full-width">
                  <div class="table-responsive">
                    <ng2-smart-table [settings]="settings" [source]="fullSource" class="mat-table no-wrap">
                    </ng2-smart-table>
                  </div>

                </div>
              </div>
              <!-- Full Encounter Table End -->


            </div>



            <!-- Adventure Lifetime -->
            <div class="col-md-5 mr-auto">
              <div class="card card-plain">
                <div class="card-content">
                  <ul class="timeline">
                    <li class="timeline-inverted">
                      <div class="timeline-badge danger">
                        <i class="material-icons">card_travel</i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <span class="label label-danger">Some Title</span>
                        </div>
                        <div class="timeline-body">
                          <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for
                            making my family We just had fun with the “future” theme !!! It was a fun night all together
                            ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in
                            downtown.
                          </p>
                        </div>
                        <h6>
                          <i class="ti-time"></i> 11 hours ago via Twitter
                        </h6>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge success">
                        <i class="material-icons">extension</i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <span class="label label-success">Another One</span>
                        </div>
                        <div class="timeline-body">
                          <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s
                            the first album to go number 1 off of streaming!!! I love you Ellen and also my number one
                            design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge info">
                        <i class="material-icons">fingerprint</i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <span class="label label-info">Another Title</span>
                        </div>
                        <div class="timeline-body">
                          <p>Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye
                            Famous viewing @ Figueroa and 12th in downtown LA 11:10PM</p>
                          <p>What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar
                            bear
                            couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye
                          </p>
                          <hr>
                          <div class="dropdown pull-left">
                            <button mat-raised-button type="button" class="btn btn-round btn-info dropdown-toggle"
                              data-toggle="dropdown">
                              <i class="material-icons">build</i>
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                              <li>
                                <a href="#action">Action</a>
                              </li>
                              <li>
                                <a href="#action">Another action</a>
                              </li>
                              <li>
                                <a href="#here">Something else here</a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="#link">Separated link</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge warning">
                        <i class="material-icons">flight_land</i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <span class="label label-warning">Another One</span>
                        </div>
                        <div class="timeline-body">
                          <p>Tune into Big Boy's 92.3 I'm about to play the first single from Cruel Winter Tune into Big
                            Boy's 92.3 I'm about to play the first single from Cruel Winter also to Kim’s hair and
                            makeup
                            Lorraine jewelry and the whole style squad at Balmain and the Yeezy team. Thank you Anna for
                            the invite thank you to the whole Vogue team</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <!-- Adventure Lifetime End -->

          </div>



        </ng-template>

        <ng-container *ngIf="user.displayName == null else dashboard">

          <form class="form" method="" action="" [formGroup]="detailForm">
            <div class="col-md-13 ml-auto mr-auto">
              <div class="card ">
                <div class="card-header card-header-danger card-header-text">
                  <div class="card-text">
                    <h4 class="card-title"><i class="fa fa-exclamation-circle"></i>Account Details Missing</h4>
                  </div>
                </div>
                <div class="card-body">
                  <p class="text-muted">Please fill out the information below inorder for us to create your account
                    fully.
                  </p>
                  <hr>
                  <form method="get" action="/" class="form-horizontal">

                    <div class="row">
                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-md-6 mr-auto ml-auto">
                            <mat-form-field class="example-full-width" floatLabel="always">
                              <input matInput type="text" autocomplete="off" color="primary"
                                formControlName="_displayName">
                              <mat-label>User Name.. (Required)</mat-label>
                            </mat-form-field>
                          </div>

                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value="true" formControlName="dm">
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                              I am a
                              <a href="#">Dungeon Master</a>.
                            </label>
                          </div>

                        </div>
                        <div class="text-right col-md-9">
                          <a class="btn btn-danger btn-round mt-6" (click)="setDetails(user)"
                            style="color: white;">Continue</a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </form>

        </ng-container>


      </div>
    </div>
  </div>
</div>