<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-3" style="font-size: 1.7em; font-weight: bold">Spellcasting</h1>
        <hr />
        <p>
          Magic permeates fantasy gaming worlds and often appears in the form of a spell. <br />This
          section provides the rules for casting Spells. Different character Classes have
          distinctive ways of learning and preparing their Spells, and Monsters use Spells in unique
          ways. Regardless of its source, a spell follows the rules here.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">What is a spell</h1>
        <p>
          A spell is a discrete magical effect, a single shaping of the magical energies that
          suffuse the multiverse into a specific, limited expression. In Casting a Spell, a
          character carefully plucks at the Invisible strands of Raw Magic suffusing the world, pins
          them in place in a particular pattern, sets them vibrating in a specific way, and then
          releases them to unleash the desired effect—in most cases, all in the span of seconds.
          <br />
          Spells can be Versatile tools, Weapons, or protective wards. They can deal damage or undo
          it, impose or remove Conditions , drain life energy away, and restore life to the dead.
          <br />
          Uncounted thousands of Spells have been created over the course of the multiverse’s
          History, and many of them are long forgotten. Some might yet lie recorded in crumbling
          spellbooks hidden in ancient ruins or trapped in the minds of dead gods. Or they might
          someday be reinvented by a character who has amassed enough power and Wisdom to do so.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Spell Level</h1>
        <p>
          Every spell has a level from 0 to 9. A spell’s level is a general indicator of how
          powerful it is, with the lowly (but still impressive) Magic Missile at 1st level and the
          earth--shaking wish at 9th. Cantrips—simple but powerful Spells that characters can cast
          almost by rote—are level 0. The higher a spell’s level, the higher level a spellcaster
          must be to use that spell.
          <br />
          Spell Level and character level don’t correspond directly. Typically, a character has to
          be at least 17th level, not 9th level, to cast a 9th--level spell.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">
          Known and Prepared Spells
        </h1>
        <p>
          Before a spellcaster can use a spell, he or she must have the spell firmly fixed in mind,
          or must have access to the spell in a magic item. Members of a few Classes, including
          bards and sorcerers, have a limited list of Spells they know that are always fixed in
          mind. The same thing is true of many magic--using Monsters. Other spellcasters, such as
          clerics and wizards, undergo a process of preparing Spells. This process varies for
          different Classes, as detailed in their descriptions.
          <br />
          In every case, the number of Spells a caster can have fixed in mind at any given time
          depends on the character’s level.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Spell Slots</h1>
        <p>
          Regardless of how many Spells a caster knows or prepares, he or she can cast only a
          limited number of Spells before Resting. Manipulating the fabric of magic and channeling
          its energy into even a simple spell is physically and mentally taxing, and higher-- level
          Spells are even more so. Thus, each Spellcasting class’s description (except that of the
          warlock) includes a table showing how many Spell Slots of each Spell Level a character can
          use at each character level. For example, the 3rd--level Wizard Umara has four 1st--level
          Spell Slots and two 2nd--level slots.
          <br /><br />
          When a character casts a spell, he or she expends a slot of that spell’s level or higher,
          effectively “filling” a slot with the spell. You can think of a spell slot as a groove of
          a certain size—small for a 1st--level slot, larger for a spell of higher level. A
          1st--level spell fits into a slot of any size, but a 9th--level spell fits only in a
          9th--level slot. So when Umara casts Magic Missile, a 1st--level spell, she spends one of
          her four 1st--level slots and has three remaining.
          <br /><br />
          Finishing a Long Rest restores any expended Spell Slots.
          <br /><br />
          Some characters and Monsters have Special Abilities that let them cast Spells without
          using Spell Slots. For example, a monk who follows the Way of the Four Elements, a Warlock
          who chooses certain Eldritch Invocations, and a Pit Fiend from the Nine Hells can all cast
          Spells in such a way.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.2em; font-weight: bold">
          Casting a Spell at a Higher Level
        </h1>
        <p>
          When a spellcaster casts a spell using a slot that is of a higher level than the spell,
          the spell assumes the higher level for that casting. For instance, if Umara casts Magic
          Missile using one of her 2nd--level slots, that Magic Missile is 2nd level. Effectively,
          the spell expands to fill the slot it is put into.
          <br /><br />
          Some Spells, such as Magic Missile and Cure Wounds, have more powerful Effects when cast
          at a higher level, as detailed in a spell’s description.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.2em; font-weight: bold">
          Casting in Armor
        </h1>
        <p>
          Because of the mental focus and precise gestures required for Spellcasting, you must be
          proficient with the armor you are wearing to Cast a Spell. You are otherwise too
          distracted and physically hampered by your armor for Spellcasting.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Casting Time</h1>
        <hr />
        <p>
          Most spells require a single action to cast, but some spells require a bonus action, a
          reaction, or much more time to cast.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Bonus Action</h1>
        <p>
          A spell cast with a bonus action is especially swift. You must use a bonus action on your
          turn to cast the spell, provided that you haven’t already taken a bonus action this turn.
          You can’t cast another spell during the same turn, except for a cantrip with a casting
          time of 1 action.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Reactions</h1>
        <p>
          Some spells can be cast as reactions. These spells take a fraction of a second to bring
          about and are cast in response to some event. If a spell can be cast as a reaction, the
          spell description tells you exactly when you can do so.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Longer Casting Times</h1>
        <p>
          Certain spells (including spells cast as rituals) require more time to cast: minutes or
          even hours. When you cast a spell with a casting time longer than a single action or
          reaction, you must spend your action each turn casting the spell, and you must maintain
          your concentration while you do so (see “Concentration” below). If your concentration is
          broken, the spell fails, but you don’t expend a spell slot. If you want to try casting the
          spell again, you must start over.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Range</h1>
        <hr />
        <p>
          The target of a spell must be within the spell’s range. For a spell like Magic Missile,
          the target is a creature. For a spell like Fireball, the target is the point in space
          where the ball of fire erupts.
          <br /><br />

          Most spells have ranges expressed in feet. Some spells can target only a creature
          (including you) that you touch. Other spells, such as the Shield spell, affect only you.
          These spells have a range of self.
          <br /><br />

          Spells that create cones or lines of effect that originate from you also have a range of
          self, indicating that the origin point of the spell’s effect must be you (see “Areas of
          Effect” below).
          <br /><br />

          Once a spell is cast, its effects aren’t limited by its range, unless the spell’s
          description says otherwise.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Components</h1>
        <hr />
        <p>
          A spell’s components are the physical requirements you must meet in order to cast it. Each
          spell’s description indicates whether it requires verbal (V), somatic (S), or material (M)
          components. If you can’t provide one or more of a spell’s components, you are unable to
          cast the spell.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Verbal (V)</h1>
        <p>
          Most spells require the chanting of mystic words. The words themselves aren’t the source
          of the spell’s power; rather, the particular combination of sounds, with specific pitch
          and resonance, sets the threads of magic in motion. Thus, a character who is gagged or in
          an area of silence, such as one created by the Silence spell, can’t cast a spell with a
          verbal component.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Somatic (S)</h1>
        <p>
          Spellcasting gestures might include a forceful gesticulation or an intricate set of
          gestures. If a spell requires a somatic component, the caster must have free use of at
          least one hand to perform these gestures.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Material (M)</h1>
        <p>
          Casting some spells requires particular objects, specified in parentheses in the component
          entry. A character can use a <b>component pouch</b> or a <b>spellcasting focus</b> (found
          in “Equipment”) in place of the components specified for a spell. But if a cost is
          indicated for a component, a character must have that specific component before he or she
          can cast the spell.
          <br /><br />
          If a spell states that a material component is consumed by the spell, the caster must
          provide this component for each casting of the spell.
          <br /><br />
          A spellcaster must have a hand free to access a spell’s material components—or to hold a
          spellcasting focus—but it can be the same hand that he or she uses to perform somatic
          components.
        </p>
        <br />

      </div>

      <div class="col-md-6">
        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Duration</h1>
        <hr />
        <p>
          A spell’s duration is the length of time the spell persists. A duration can be expressed
          in rounds, minutes, hours, or even years. Some spells specify that their effects last
          until the spells are dispelled or destroyed.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Instantaneous</h1>
        <p>
          Many spells are instantaneous. The spell harms, heals, creates, or alters a creature or an
          object in a way that can’t be dispelled, because its magic exists only for an instant.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Concentration</h1>
        <p>
          Some spells require you to maintain concentration in order to keep their magic active. If
          you lose concentration, such a spell ends.
          <br /><br />
          If a spell must be maintained with concentration, that fact appears in its Duration entry,
          and the spell specifies how long you can concentrate on it. You can end concentration at
          any time (no action required).
          <br /><br />
          Normal activity, such as moving and attacking, doesn’t interfere with concentration. The
          following factors can break concentration:

          <b>Casting another spell that requires concentration.</b> You lose concentration on a
          spell if
          you cast another spell that requires concentration. You can’t concentrate on two spells at
          once. <br />
          <b>Taking damage.</b> Whenever you take damage while you are concentrating on a spell, you
          must
          make a Constitution saving throw to maintain your concentration. The DC equals 10 or half
          the damage you take, whichever number is higher. If you take damage from multiple sources,
          such as an arrow and a dragon’s breath, you make a separate saving throw for each source
          of damage.<br />
          <b>Being incapacitated or killed.</b> You lose concentration on a spell if you are
          Incapacitated
          or if you die.
          <br /><br />
          The GM might also decide that certain environmental phenomena, such as a wave crashing
          over you while you’re on a storm-tossed ship, require you to succeed on a DC 10
          Constitution saving throw to maintain concentration on a spell.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Targets</h1>
        <hr />
        <p>
          A typical spell requires you to pick one or more targets to be affected by the spell’s
          magic. A spell’s description tells you whether the spell targets creatures, objects, or a
          point of origin for an area of effect (described below).
          <br /><br />
          Unless a spell has a perceptible effect, a creature might not know it was targeted by a
          spell at all. An effect like crackling lightning is obvious, but a more subtle effect,
          such as an attempt to read a creature’s thoughts, typically goes unnoticed, unless a spell
          says otherwise.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">A Clear Path to the Target
        </h1>
        <p>
          To target something, you must have a clear path to it, so it can’t be behind total cover.
          <br /><br />
          If you place an area of effect at a point that you can’t see and an obstruction, such as a
          wall, is between you and that point, the point of origin comes into being on the near side
          of that obstruction.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Targeting Yourself
        </h1>
        <p>
          If a spell targets a creature of your choice, you can choose yourself, unless the creature
          must be hostile or specifically a creature other than you. If you are in the area of
          effect of a spell you cast, you can target yourself.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Area of Effect</h1>
        <hr />
        <p>
          Spells such as Burning Hands and Cone of Cold cover an area, allowing them to affect
          multiple creatures at once.
          <br /><br />
          A spell’s description specifies its area of effect, which typically has one of five
          different shapes: cone, cube, cylinder, line, or sphere. Every area of effect has a point
          of origin, a location from which the spell’s energy erupts. The rules for each shape
          specify how you position its point of origin. Typically, a point of origin is a point in
          space, but some spells have an area whose origin is a creature or an object.
          <br /><br />
          A spell’s effect expands in straight lines from the point of origin. If no unblocked
          straight line extends from the point of origin to a location within the area of effect,
          that location isn’t included in the spell’s area. To block one of these imaginary lines,
          an obstruction must provide total cover.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Cone</h1>
        <p>
          A cone extends in a direction you choose from its point of origin. A cone’s width at a
          given point along its length is equal to that point’s distance from the point of origin. A
          cone’s area of effect specifies its maximum length.
          <br /><br />
          A cone’s point of origin is not included in the cone’s area of effect, unless you decide
          otherwise.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Sphere</h1>
        <p>
          You select a sphere’s point of origin, and the sphere extends outward from that point. The
          sphere’s size is expressed as a radius in feet that extends from the point.
          <br /><br />
          A sphere’s point of origin is included in the sphere’s area of effect.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Cube</h1>
        <p>
          You select a cube’s point of origin, which lies anywhere on a face of the cubic effect.
          The cube’s size is expressed as the length of each side.
          <br /><br />
          A cube’s point of origin is not included in the cube’s area of effect, unless you decide
          otherwise.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Cylinder</h1>
        <p>
          A cylinder’s point of origin is the center of a circle of a particular radius, as given in
          the spell description. The circle must either be on the ground or at the height of the
          spell effect. The energy in a cylinder expands in straight lines from the point of origin
          to the perimeter of the circle, forming the base of the cylinder. The spell’s effect then
          shoots up from the base or down from the top, to a distance equal to the height of the
          cylinder.
          <br /><br />
          A cylinder’s point of origin is included in the cylinder’s area of effect.
        </p>
        <br />
        <h1 class="display-3" style="font-size: 1.3em; font-weight: bold">Line</h1>
        <p>
          A line extends from its point of origin in a straight path up to its length and covers an
          area defined by its width.
          <br /><br />
          A line’s point of origin is not included in the line’s area of effect, unless you decide
          otherwise.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Saving Throws</h1>
        <hr />
        <p>
          Many spells specify that a target can make a saving throw to avoid some or all of a
          spell’s effects. The spell specifies the ability that the target uses for the save and
          what happens on a success or failure.
          <br /><br />
          The DC to resist one of your spells equals 8 + your spellcasting ability modifier + your
          proficiency bonus + any special modifiers.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Attack Rolls</h1>
        <hr />
        <p>
          Some spells require the caster to make an attack roll to determine whether the spell
          effect hits the intended target. Your attack bonus with a spell attack equals your
          spellcasting ability modifier + your proficiency bonus. Spell attacks (just as all other
          attacks) can score critical hits.
          <br /><br />
          Most spells that require attack rolls involve ranged attacks. Remember that you have
          disadvantage on a ranged attack roll if you are within 5 feet of a hostile creature that
          can see you and that isn’t Incapacitated.
        </p>
        <br />

        <h1 class="display-3" style="font-size: 1.5em; font-weight: bold">Combining Magical Effects
        </h1>
        <hr />
        <p>
          The effects of different spells add together while the durations of those spells overlap.
          The effects of the same spell cast multiple times don’t combine, however. Instead, the
          most potent effect—such as the highest bonus—from those castings applies while their
          durations overlap.
          <br /><br />
          For example, if two clerics cast Bless on the same target, that character gains the
          spell’s benefit only once; he or she doesn’t get to roll two bonus dice.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
